<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册失败</title>
</head>
<body>
注册失败，失败原因可能是：<br>
1、账号密码为空、<br>
2、密码少于6位、<br>
3、账号已存在


<div class="box">
    <h2>5秒后将自动返回上层页面,剩余时间：<span class="clock">5</span>秒</h2>
</div>

<script>
    var t = 5;
    var time = document.getElementsByClassName("clock")[0];

    function fun() {
        t--;
        time.innerHTML = t;
        if (t <= 0) {
            // location.href = "https://www.baidu.com";
            clearInterval(inter);
        }
        if (t == 0) {
            history.go(-1);
        }
    }

    var inter = setInterval("fun()", 1000);
</script>

</body>
</html>