<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>更新页面</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="/application/javascript"></script>

</head>
<body>
<!--导航栏-->
<div th:insert="~{navication :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true">发起</span></h2>
            <hr>

            <form action="/doUpdate" method="post">
                <input type="hidden" name="id" th:value="${id}">
                <div class="form-group">
                    <label for="title">问题标题</label>
                    <input th:value="${title}" type="text" class="form-control" id="title" name="title"
                           placeholder="你想表达的标题......"/>
                </div>
                <div class="form-group">
                    <label for="content">问题内容</label>
                    <textarea th:text="${content}" name="content" id="content" class="form-control" cols="30" rows="10"
                              placeholder="你想表达的内容......"/>
                </div>
                <div class="container-fluid mian">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <span class="errorShow label label-danger" th:text="${noTitle}"></span>
                            <span class="errorShow label label-danger" th:text="${noContent}"></span>
                            <button type="submit" class="btn btn-success btn-publish left">更新</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>修改贴提示</h3>
             1、标题内容不能为空！ <br>
        </div>
    </div>
</div>

<script>
    function doDelete() {
        let b = window.confirm("是否要删除？");
        if(b==true){
            alert("111")
        }else{
            alert("123");
        }

    }
</script>

</body>
</html>