<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

<head>
    <meta charset="UTF-8">
    <title>修改密码</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/myJs.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Loding font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,700" rel="stylesheet">
    <!-- Custom Styles -->
    <link rel="stylesheet" type="text/css" href="css/styles.css">

</head>
<body>

<div th:insert="~{navication :: nav}"></div>

<div id="login-bg" class="container-fluid">
    <div class="bg-img"></div>
    <div class="bg-color"></div>
</div>

<div class="container" id="login">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="login">

                <h2>修改密码</h2>
                <!-- Loging form -->
                <form  align="center" action="/modify" method="post">
                    <div class="form-group">
                        <input  name="oldPassword" id="oldPassword" type="text" class="form-control" aria-describedby="emailHelp" placeholder="在此输入旧密码">

                    </div>
                    <div class="form-group">
                        <input name="newPassword" id="newPassword" type="password" class="form-control" placeholder="在此输入新密码">
                    </div>
                    <input type="hidden" th:value="${session.user.id}" id="userId" name="userId">
                    <div class="form-check">

                        <label class="switch">
                            <input type="checkbox">
                        </label>

                        <label class="forgot-password">
                            <a href="regiest">还未注册？<a>
                        </label>

                    </div>

                    <br>
<!--                    <button type="submit" class="btn btn-lg btn-block btn-success">登录</button>-->
                    <input onclick="toLogin()" class="btn btn-lg btn-block btn-success" type="submit" value="确认修改" name="modify" id="modify">
                </form>
                <!-- End Loging form -->

            </div>
        </div>
    </div>
</div>

<script>
    function toLogin() {
        alert("修改成功会直接跳转到登录页面");
    }
</script>

</body>
</html>