<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="nav">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/flush">中意社区</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">论坛 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">正在施工...</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">当前已经完成的功能<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">登录注册</a></li>
                            <li><a href="#">修改密码</a></li>
                            <li><a href="#">异常处理</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">对帖子的增删查改</a></li>
                            <li><a href="#">关键字搜索</a></li>
                            <li><a href="#">对帖子的回复</a></li>
                            <li><a href="#">对回复的回复</a></li>
                            <li><a href="#">首页帖子的分页处理</a></li>
                            <li><a href="#">支持emoji</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">首页轮播图</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">可以上传头像了哈哈哈哈哈</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="resumeIndex">我的简历</a></li>
                        </ul>
                    </li>
                </ul>


                <ul class="nav navbar-nav navbar-right">
                    <li th:if="${session.user == null}">
                        <a href="/regiest">注册</a>
                    </li>
                    <li th:if="${session.user != null}">
                        <a href="/publish">发布</a>
                    </li>
                    <li class="dropdown" th:if="${session.user != null}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <span th:text="${session.user.username}"></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/userCenter/tie">个人中心</a></li>
                            <li><a href="/modifyPassword">修改密码</a></li>
                            <li><a href="/updateHead">添加/修改头像</a></li>
                            <li><a href="#">占位符</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/logout">退出登录</a></li>
                        </ul>
                    </li>

                    <li class="dropdown" th:if="${session.user == null}">
                        <a href="/login">登录</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</div>

</body>

</html>