<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>

    <meta charset="UTF-8">
    <title>注册成功</title>
</head>
<body>

<!--导航栏-->
<div th:insert="~{navication :: nav}"></div>

<form align="center">
    <div>你注册的用户名为：<span th:text="${regiest_username}"></span><br></div>
    <div>你注册的密码为：<span th:text="${regiest_password}"></span></div>
    <div><a href="login">去登录吧</a></div>
</form>
</body>
</html>