<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">
    <title>简历-项目介绍</title>
    <link rel="stylesheet" href="/resumeStatic/css/bootstrap.css">
    <script src="/resumeStatic/js/jquery-3.3.1.slim.js"></script>
    <script src="/resumeStatic/js/bootstrap.bundle.js"></script>
    <script src="/resumeStatic/js/bootstrap.min.js"></script>
    <!--css文件-->
    <link rel="stylesheet" href="/resumeStatic/css/resumeStyle.css">
    <!--字体图标文件-->
    <link rel="stylesheet" href="/resumeStatic/fonts/css/font-awesome.css">
</head>
<body class="container-fluid">
<div class="row">
    <!--header-->
    <div th:insert="~{resumeNavication :: resumeNav}"></div>
    <!--content-->
    <div class="col-sm-12 col-md-9 right p-0">
        <!--顶部导航-->
        <div th:insert="~{resumeTop :: resumeTop}"></div>
        <h5 class="color1">项目</h5>
        <div class="px-5 py-5 photo">
            <div class="card-columns">
                <!--第1张图片-->
                <div class="p-3">
                    <!-- Img -->
                    <button type="button" class="btn" data-toggle="modal" data-target="#Img1">
                        <img class="card-img-top small_img" src="/resumeStatic/picture/zyCommunity.jpg"/>
                        <p style="text-align: center"> 校内项目：中意社区 </p>
                        <a href="www.nizhongyi.cn">项目链接</a>
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="Img1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog " role="document">
                            <img class="big_img" src="/resumeStatic/picture/zyCommunity.jpg"/>
                        </div>
                    </div>
                </div>
                <!--第2张图片-->
                <div class="p-3">
                    <!-- Img -->
                    <button type="button" class="btn" data-toggle="modal" data-target="#Img2">
                        <img class="card-img-top small_img" src="/resumeStatic/picture/Placeholder.jpg"/>
                        <p style="text-align: center"> 项目占位符 </p>
                        <a href="#">项目链接占位符</a>
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="Img2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <img class="big_img" src="/resumeStatic/picture/Placeholder.jpg"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>