<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">
    <title>简历-发送邮件</title>
    <link rel="stylesheet" href="/resumeStatic/css/bootstrap.css">
    <script src="/resumeStatic/js/jquery-3.3.1.slim.js"></script>
    <script src="/resumeStatic/js/bootstrap.bundle.js"></script>
    <script src="/resumeStatic/js/bootstrap.min.js"></script>
    <!--css文件-->
    <link rel="stylesheet" href="/resumeStatic/css/resumeStyle.css">
    <!--字体图标文件-->
    <link rel="stylesheet" href="/resumeStatic/fonts/css/font-awesome.css">
</head>
<body class="container-fluid">
<div class="row">

    <!--header-->
    <div th:insert="~{resumeNavication :: resumeNav}"></div>
    <!--content-->
    <div class="col-sm-12 col-md-9 right p-0">
        <!--顶部导航-->
        <div th:insert="~{resumeTop :: resumeTop}"></div>
        <h5 class="color1">联系我</h5>
        <form action="/sendEmail" method="post">
            <div class="px-5 py-5">
                <div class="pr-5">
                    <div class="form-group">
                        <input name="email" type="email" class="form-control form-control-lg " placeholder="请在此留下您的邮箱，我稍后联系您！">
                    </div>
                    <div class="form-group">
                        <input name="emailTitle" type="text" class="form-control form-control-lg " placeholder="邮箱标题">
                    </div>
                    <div class="form-group">
                        <textarea name="emailContent" class="form-control form-control-lg" rows="6" placeholder="邮件内容"></textarea>
                    </div>
                    <button type="submit" class="btn btn-lg btn-primary">发送</button>
                    <span th:text="${msg}"></span>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
</html>