<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">
    <title>Title</title>
    <link rel="stylesheet" href="/resumeStatic/css/bootstrap.css">
    <script src="/resumeStatic/js/jquery-3.3.1.slim.js"></script>
    <script src="/resumeStatic/js/bootstrap.bundle.js"></script>
    <script src="/resumeStatic/js/bootstrap.min.js"></script>
    <!--css文件-->
    <link rel="stylesheet" href="/resumeStatic/css/style.css">
    <!--字体图标文件-->
    <link rel="stylesheet" href="/resumeStatic/fonts/css/font-awesome.css">
</head>
<body class="container-fluid">
<div class="row">
    <!--header-->
    <div th:insert="~{resumeNavication :: resumeNav}"></div>
    <!--content-->
    <div class="col-sm-12 col-md-9 right p-0">
        <div class="my-4">
            <ul class="clearfix">
                <li class="float-sm-left">
                    <i class="fa fa-user-circle-o fa-2x"></i>
                    <a href="resumeIndex" class="ml-2">个人履历</a>
                </li>
                <li class="float-sm-left mx-sm-5">
                    <i class="fa fa-envelope-o fa-2x"></i>
                    <a href="resumeContact" class="ml-2">请给我发送邮件</a>
                </li>
                <li class="float-sm-left">
                    <i class="fa fa-home fa-2x"></i>
                    <a href="resumePhoto" class="ml-2">生活照</a>
                </li>
            </ul>
        </div>
        <h5 class="color1">联系我</h5>
        <div class="px-5 py-5">
            <div class="pr-5">
                <div class="form-group">
                    <input type="text" class="form-control form-control-lg " placeholder="收件人">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control form-control-lg " placeholder="收件人邮箱">
                </div>
                <div class="form-group">
                    <textarea class="form-control form-control-lg" rows="6" placeholder="发送的内容"></textarea>
                </div>
                <button type="submit" class="btn btn-lg btn-primary">发送</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>