<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="resumeTop">
    <div class="my-4">
        <ul class="clearfix">
            <li class="float-sm-left">
                <i class="fa fa-user-circle-o fa-2x"></i>
                <a href="resumeIndex" class="ml-2">个人履历</a>
            </li>
            <li class="float-sm-left mx-sm-5">
                <i class="fa fa-envelope-o fa-2x"></i>
                <a href="resumeContact" class="ml-2">请给我发送邮件</a>
            </li>
            <li class="float-sm-left">
                <i class="fa fa-home fa-2x"></i>
                <a href="resumePhoto" class="ml-2">项目</a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>